body {
    background-color: #303030;
    color: #DCDCDC;
    font-family: verdana, arial, sans-serif;
}

h4 {
    font-size: 0.8em;
}
dl dt {
    font-size: 0.8em;
    float: left;
}
dd {
    font-size: 0.8em;
    font-weight: lighter;
}

#image {
    position: absolute;
    border: solid 1px #000;
}

.highlighter {
    position: absolute;
    /* IE */
    filter:alpha(opacity=50); 
    /*Mozilla / Firefox */
    -moz-opacity: 0.5;
    /* Safari and Konqueror */
    -khtml-opacity: 0.5;
    /* CSS 3*/
    opacity: 0.5;    
}

#highlight-string {
    border: solid 1px #f0f;
    background-color: #00C;
}
#highlight-line {
    border: solid 1px #f00;
    background-color: #99FF99;
}
#highlight-block {
    border: solid 1px #1f1;
    background-color: #FFCCFF;
}
#highlight-printspace {
    border: solid 1px #00f;
    background-color: #00CCFF;
}

.menu {
    float: right;
    width: 320px;
}

.menuBox {
    padding: 7px;
    border: solid 1px #000;
    background-color: #2B2B2B;
}

.nav-controls {
    margin-bottom: 10px;
    text-align: center;
}

.nav-arrow {
    display: inline-block;
    margin: 5px 10px;
    padding: 5px 10px;
    border: 1px solid #555;
    color: #DCDCDC;
    text-decoration: none;
    font-size: 1.2em;
}

.nav-arrow:hover {
    background-color: #3C3C3C;
}

.nav-arrow.disabled {
    opacity: 0.3;
    pointer-events: none;
    border-color: #333;
}

.nav-status {
    font-size: 0.9em;
}

#toggleBox {
    display: block;
}
#infoBox {
    display: block;
    margin-top: 10px;
}

#regionText {
    margin-top: 8px;
    min-height: 60px;
    max-height: 180px;
    font-size: 0.85em;
    line-height: 1.3em;
    padding: 8px;
    background-color: #1f1f1f;
    border: 1px solid #444;
    overflow-y: auto;
    word-break: break-word;
    white-space: normal;
}